<Jumbo>
  <h2>Contact Us</h2>
  <p>
    Hell Yeah would love to help you<br>
    find what you're looking for on this site.
  </p>
  <address>
    Hell Yeah Inc.
    <p>
      Sick Town Avenue<br>
      Londontown
    </p>
    <a href="tel:636.484.3596">+1 (636) 484-3596</a><br>
    <a href="mailto:ferrari.tim.v@gmail.com">ferrari.tim.v@gmail.com</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>
