<Jumbo>
  <h2>Welcome to my fucking tutorial</h2>
  <p>Hope you find what you're looking for pussy.</p>
  <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>
<div class="rentals">
  <ul class="results">
    {{#each @model as |rental|}}
      <li><Rental @rental={{rental}} /></li>
      {{/each}}
  </ul>
</div>

